// Colors
$brand-primary: #2a647c;
$brand-secondary: #F9CB3A;
$brand-secondary-dark: #F2A74E;

// Fonts
$base-font-size: 18px;
$base-font-color: #333;
$base-font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

// Spacing units
$base-spacing-unit: 15px;
$base-spacing-unit-small: 10px;
$base-spacing-unit-tiny: 5px;
